# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.swp

# Output images and HDR files
*.jpg
*.hdr

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/

# Input and output folders
output/
input/
